name: Go

on:
  push:
    branches: [ main ]
  pull_request:
  schedule:
    - cron: "0 0 * * *"

jobs:
  go:
    uses: openconfig/common-ci/.github/workflows/basic_go.yml@487096953fb96b1b31e52fc629fa35e1aa82613c
    with:
      race-tests-excludes-regex: github.com/openconfig/gribigo/compliance
      static-analysis-excludes-regex: github.com/openconfig/gribigo/aft
      install-additional-apt-packages:  libpcap-dev libnl-genl-3-dev libnl-3-dev
      coverage-excludes-regex: github.com/openconfig/gribigo/(aft|ocrt)
